.navbar {
	background-color: #0a6fe6;
	position: fixed;
	top: 0;
	width: 98%;
	height: 15%;
	border-radius: 10px;
  }
  .navbar a {
	color: white;
	padding: 15px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 10px;
	margin: 0px 30px 30px 30px;
  }
	.navbar a:hover {
	color: #0a6fe6;
	background: white;
	border-radius: 10px;
	} 
  .navbar li {
	display: inline-flex;
	letter-spacing: 2px;
	float: right;
  }
  .about-me {
	background-color: #e0e0e0;
	margin: 100px 30px 0px 30px;
	padding: 20px;
	border: solid #0a6fe6;
	border-width: 0px 60px 0px 0px;
	border-radius: 10px;
  }
  .about-me a {
	font-optical-sizing: none;
	color: #0a6fe6;
  }
   img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float:right;
    margin-top: -150px;
	
}

  .contact-me {
	background-color: #e0e0e0;
	margin: 0px 30px 30px 30px;
	padding: 20px;
	border: solid #0a6fe6;
	border-width: 0px 60px 0px 0px;
	border-radius: 10px;
  }
  .bottom-div {
	background-color: #0a6fe6;
	margin: 0px 30px 30px 30px;
	padding: 20px;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
  }
  .bottom-div a {
	color: white;
	text-decoration: none;
  }
  .zafirah-face {
	border-radius: 60%;
	border:  #0a6fe6 10px;
	float: left;
	margin: 1px 3px 1px 3px;

  }
  h2 {
	color: #0a6fe6;
	font-size: 40px;
	letter-spacing: 5px;
  }
  p {
	font-size: 18px;
  }
  .square {
	width: 20%;
	background-color: white;  
	margin: 0px 30px 15px 30px;
  }
  .square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
  }
  div.inline { float:left; }
  .clearBoth { clear:both; }
  .fa {
	padding: 2px;
	font-size: 30px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
	width: 30px;
	text-align: center;
	background-color: #0a6fe6;
  }
  .das-buttons {
	border-radius: 10px;
	border: solid 2px #0a6fe6;
	margin: 5px;
	background-color: white;
  }
  .das-buttons:hover {
	  background-color: #0a6fe6;
	  color: white;
  }
  .contact-me a {
	text-decoration: none;
	color: #0a6fe6;
  }
  @media only screen and (max-width: 750px) {
	  .navbar a {
	font-size: 12px;
	}
	h2 {
	  font-size: 28px;
	}
	.about-me {
	margin: 90px 30px 0px 30px;
	border-width: 0px 0px 0px 0px;
	border-radius: 10px;
  }
  .contact-me {
	border-width: 0px 0px 0px 0px;
	border-radius: 10px;
  }
	.zafirah-face {
	box-align: center;
	margin: 15px 0px 15px 0px;
  }
  
	  }